version: "3"
services:
    postgres:
        image: postgres:11-alpine
        environment:
            - POSTGRES_USER=healenium
            - POSTGRES_PASSWORD=healenium
            - POSTGRES_DB=healenium
        ports:
            - "5432:5432"
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U healenium"]
            interval: 5s
            timeout: 5s
            retries: 5

    hlm-backend:
        image: healenium/hlm-backend:3.4.10
        ports:
            - "7878:7878"
        depends_on:
            postgres:
                condition: service_healthy
        environment:
            - POSTGRES_HOST=postgres
            - POSTGRES_DB=healenium
            - POSTGRES_USER=healenium
            - POSTGRES_PASSWORD=healenium
            - HEALING_BASE_URL=http://localhost:7878
            
    hlm-proxy:
        image: healenium/hlm-proxy:2.1.9
        ports:
            - "8085:8085"
        depends_on:
            - hlm-backend
            - selenium-chrome
        environment:
            - PROXY_HANDLER_HOST=http://hlm-backend:7878
            - PROXY_DOWNSTREAM_HOST=http://selenium-chrome:4444

    selenium-chrome:
        image: selenium/standalone-chrome:3.141.59
        ports:
            - "4444:4444"
            - "7900:7900"
        shm_size: 2g
